.footer {
  width: 1770px;
  height: 268px;
  background-color: #232323;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: $sectionMainFont;

  .footer__title2 {
    margin: 0px;
  }

  .icon {
    text-align: center;
    margin: 10px;
  }
  .fab {
    color: white;
  }
}
