@mixin sectionCommonStyles($flexDirection, $justifyContent, $alignItem) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItem;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin buttonStyles {
    padding: 0;
    width: 225px;
    height: 60px;
    background-color: $buttonColor;
    color: $headerMainColor;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-family: 'Aleo';
    font-size: 20px; 


    &:hover {
        background-color: $buttonColorHover;
    }
}