.review {
    background-image: url("../img/review-background.png");
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-size: cover;
    width: 1770px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Aleo", "serif";
    
    .review__content {
        display: block;
        color: white;
        background-color: #232323;
        opacity: 0.9;
        width: 1115px;
        height: 284px;
        margin-right: 330px;
        margin-top: 247px;
        display: flex;
       
        .review__content_img {
            display: flex;
        }
    }
    .review__title {
        color: white;
        font-family: "Aleo", serif;
        font-weight: 300;
        text-align: center;
    }
    
    
}