// FONTS
$headerFont : "Josefin Sans";
$sectionMainFont : "Aleo";

// COLORS
$headerMainColor : #ffffff;
$headerSecondlyColor : #999999;
$headerFormColor : #5474fd;
$sectionBenefitsColor : #e8e8e8;
$buttonColor : rgba(84, 116, 253, 0.7);
$buttonColorHover : rgba(84, 116, 253, 1);
$sectionSearchColor : #333333;
$spainContentColor : #232323;

$width : 1770px;