body {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grand-spain {
  background-image: url("./images/house.png");
  height: 700px;
  width: 1770px;
  background-repeat: no-repeat;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  background-position: center;
  background-size: cover;
}
.click {
  background: rgba(84, 116, 253, 1);
  height: 60px;
  width: 225px;
  font-size: 30px;
  color: white;
}
.click:hover {
  background-color: #496bfe;
}
.button-h {
  color: white;
  background-color: #232323;
  opacity: 0.9;
  width: 540px;
  height: 371px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 330px;
  margin-top: 229px;
}
.grand {
  font-family: "Aleo", "serif";
  font-weight: 300;
  padding: 15px;
}
.spain {
  font-family: "Aleo", "serif";
  margin: 0;
  font-weight: 300;
  padding: 15px;
}
.madrid {
  background-image: url("./images/madrid.png");
  height: 700px;
  width: 1770px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
}
.mountain {
  display: block;
  color: white;
  background-color: #232323;
  opacity: 0.9;
  width: 540px;
  height: 371px;
  padding: 15px;
  margin-right: 330px;
  margin-bottom: 100px;
}

.man {
  background-image: url("./images/Rectangle_4142.png");
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-size: cover;
  width: 1770px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Aleo", "serif";
}
.tourist {
  display: block;
  color: white;
  background-color: #232323;
  opacity: 0.9;
  width: 1115px;
  height: 284px;
  margin-right: 330px;
  margin-top: 247px;
  display: flex;
}
.foto {
  display: flex;
}
.man-in-adidas {
  color: white;
  font-family: "Aleo", serif;
  font-weight: 300;
  text-align: center;
}
.but {
  font-size: 17px;
  font-family: "Aleo", "serif";
  line-height: 30px;
}
.bottom {
  width: 1770px;
  height: 268px;
  background-color: #232323;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: "Aleo", "serif";
}
.foot {
  margin: 0px;
}
.sumon {
  display: flex;
  align-items: flex-end;
}
.samon {
  display: flex;
}
.icon {
  text-align: center;
  margin: 10px;
}
